# Copy this file to client.env and update with your actual values for the target environment
# Current values are the values that will be used by default in the dev container for local development

VITE_URL_BACKEND=http://localhost:2022