# Copy this file to server.env and update with your actual values for the target environment
# Current values are the values that will be used by default in the dev container for local development

DATABASE_URL="postgresql://postgres:password@db:5432/finance_tracker_dev"
SSL_MODE="disable"
CLIENT_URL="http://localhost:3000"
NODE_ENV="development"
BETTER_AUTH_SECRET="dev-secret-key-change-in-production"
PORT=2022